/ProjectC#/obj/
/ProjectC++/obj/
/ProjectCLI/obj/
/WorkingDir/MaloWDebug.txt
/WorkingDir/Media/Thumbs.db
/WorkingDir/Media/LoadingScreen/Thumbs.db
/WorkingDir/Media/Thumbs.db
/WorkingDir/Media/Textures/Thumbs.db
/NDY Editor.opensdf
/NDY Editor.sdf
/NDY Editor.suo
/WorkingDir/*.map
/Bin/Debug/C++CLID.dll.metagen
/Bin/Release/Editor.pdb
/Bin/Release/Editor.vshost.exe
/Bin/Release/C++.dll
/Bin/Release/C++.exp
/Bin/Release/C++.lib
/Bin/Release/C++.pdb
/Bin/Release/C++CLI.dll
/Bin/Release/C++CLI.dll.metagen
/Bin/Release/C++CLI.exp
/Bin/Release/C++CLI.lib
/Bin/Release/C++CLI.pdb
/Bin/Release/Editor.exe
/Bin/Debug/C++D.lib
/Bin/Debug/C++D.pdb
/Bin/Debug/Editor.exe
/Bin/Debug/Editor.pdb
/Bin/Debug/C++CLID.dll
/Bin/Debug/C++CLID.dll.metagen
/Bin/Debug/C++CLID.exp
/Bin/Debug/C++CLID.ilk
/Bin/Debug/C++CLID.lib
/Bin/Debug/C++CLID.pdb
/Bin/Debug/C++D.dll
/Bin/Debug/C++D.exp
/Bin/Debug/C++D.ilk
/WorkingDir/Media/Models/Cache
/WorkingDir/Media/Cache
/WorkingDir/Media/Models/Flag/Cache
/WorkingDir/config.cfg
/WorkingDir/EditorConfig.cfg
/NDY Editor.v11.suo
/Bin/Release/C++CLID.pdb
/Bin/Release/C++CLID.dll
/WorkingDir/MaloWPerformanceReport.txt

/WorkingDir/MPR.txt
