/Example.sdf
/Obj/
/ProjectC#/obj/
/Example.v11.suo
/Bin/x86/Config.cfg
/Bin/x86/Example.exe
/Bin/x86/Example.pdb
/Bin/x86/Example.vshost.exe
/Bin/x86/MaloWDebug.txt
/Bin/x86/C++.dll
/Bin/x86/C++.exp
/Bin/x86/C++.ilk
/Bin/x86/C++.lib
/Bin/x86/C++.pdb
/Bin/x86/C++CLI.dll
/Bin/x86/C++CLI.dll.metagen
/Bin/x86/C++CLI.exp
/Bin/x86/C++CLI.ilk
/Bin/x86/C++CLI.lib
/Bin/x86/C++CLI.pdb
/Example.suo
/WorkingDir/MaloWDebug.txt
/WorkingDir/Media/Thumbs.db
/WorkingDir/Media/LoadingScreen/Thumbs.db

/WorkingDir/Media/Thumbs.db
/Bin/x86/*.map
/WorkingDir/Media/Textures/Thumbs.db
/NDY Editor.opensdf
/NDY Editor.sdf
/NDY Editor.suo
/NDY Editor.v11.suo
/ProjectC#/Editor GUI.csproj
/ProjectC#/Editor GUI.csproj.user
